 <h1>用户登录</h1>
 <div class="row">
    <div class="col-sm-4">
      <%= form_for(:session, url: login_path, class: "form-signin")  do |f| %>
      <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "用户名..." %>
      </div>
      <div>
          <%= f.password_field :password, class: "form-control", placeholder: "密码..." %>
      </div>
      <div>
         <%= f.radio_button(:mold, "Teacher") %>
         <%= f.label(:mold, "log in as a teacher") %>
      </div>
      <div>
        <%= f.radio_button(:mold, "Student", checked: true) %>
        <%= f.label(:mold, "log in as a student") %>
      </div>
         <%= f.submit "登录", class: "btn btn-primary" %>
         <p><%= link_to '注册', signup_path %></p>
      <% end -%>
    </div>
 </div>
