<%= render "layouts/header" %>
<h1>学生信息列表</h1>

<div class="row">
<dl>
    <dt>ID</dt>
    <dd><%= @student.id %></dd>
</dl>

<dl>
    <dt>用户名</dt>
    <dd><%= @student.name %></dd>
</dl>

<% if !@student.class_rooms.empty? %>
  <dl>
    <dt>所在班级</dt>
    <dd><%= @student.class_rooms.first.roomname %></dd>
  </dl>

  <dl>
      <dt>授课老师</dt>
      <% @student.class_rooms.first.users.where("mold = 'Teacher' ").each do |f| %>
            <dd><%= f.name %></dd>
      <% end %> 
  </dl>
<% end %>
</div>