<h1>用户注册</h1>
<div class="row">
  <div class="col-sm-5">
    <%= form_for @user  do |f| %>
    <div class="form-group">
      <ul class="list-unstyled">
        <% @user.errors.messages.values.flatten.each do |error| %>
        <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
        <% end -%>
      </ul>
    </div>

    <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder: "用户名"%>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "密码" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "确认密码" %>
    </div>

    <div>
      <%= f.radio_button(:mold, "Teacher") %>
      <%= f.label(:mold, "sign up as a teacher") %>
    </div>

    <div>
      <%= f.radio_button(:mold, "Student", checked: true) %>
      <%= f.label(:mold, "sign up as a student") %>
    </div>

    <div>
      <%= f.check_box(:admin, {}, "true", "false") %>
      <%= f.label(:admin, "sign as admin") %>
    </div>

    <%= f.submit "提交", class: "btn btn-primary" %>

    <p>注册 <%= link_to '登录',login_path %></p>
    <% end -%>
  </div>
</div>
